*{
    --primary-color: #69FFF1;
    --secondary-color: #63D471;
    --accent1: #63A46C;
    --accent2: #6A7152;
}
main{
    max-width: 1200px;
    font-family: Roboto;
}

h1{
    font-family: 'Goergia 400';
}

aside {
  width: 45rem;
  margin: 1rem;
  border: 1px solid #ccc;
  padding: 2rem;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

main img{
    width: 200px;
    height: auto;
}

p{
    padding: 0;
}

footer{
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}